body {
background-color: #656565;
font-family: helvetica;
padding: 50px;
}

h1{
	font-family: cursive;
	font-size: 40px;
	letter-spacing: 4px;
}

.stickynote{
	background-color: #FCFF7E;
	height: 350px;
	width: 350px;
	box-shadow: 3px 6px #575757;
	padding: 10px;
	
}

.item-name{
	color: #575757;
}
